{% extends "base.html" %}

{% block content %}
  <h1>Welcome to Project Podium!</h1>
  {% if error %}
  <div class="alert alert-danger" role="alert">
       {{ error }}
  </div>
  {% endif %}
  <p> Active Users
    {% for user in user-list %}
      <li> {{user.full-name}} </li>
    {% endfor %}
  </p>

<div id="sign-up-container">
    <h1>User Sign-up!</h1>
    <div id="sign-up-form-container">
        <form id="sign-up-form" action="/sign-up" method="post">
            Username: <input type="text" id="username" name="username"/>
            Full Name: <input type="text" id="full-name" name="full-name"/>
            Email: <input type="email" id="email" name="email"/>
            Password: <input type="password" id="password" name="password"/>
            Re-enter Password: <input type="password" id="password-repeat" name="password-repeat"/>
            Submit: <input type="submit"/>
        </form>
    </div>
</div>

<div id="sign-in-container">
    <h2>Login!</h2>
    <div id="sign-in-form-container">
        <form id="sign-in-form" action="/sign-in" method="post">
            Username: <input type="text" id="username" name="username"/>
            Password: <input type="password" id="password" name="password"/>
            Submit: <input type="submit"/> 
    </div>
</div>
{% endblock %}


