{% extends "base.html" %}

{% block content %}
<h1>User List</h1>
<div id="user-list">
    <table id="user-list-table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.full-name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <a href="/users/{{user.id}}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock $}
